{% extends 'blog/base.html' %}

{% block title %}
Page {{ post.id }}
{% endblock %}

{% block content %}

<div id="blogpost">
  <div class="title">
	<h1 class="text-center">{{ post.title }}</h1>
	<h4 class="text-center">on {{ post.date }}</h4>
  </div>
  <div class="btn-group pull-right">
  	<a href="{% url 'blog:update-blog' post.id %}" class="btn btn-success btn-sm">Edit</a>
  	<a href="{% url 'blog:delete-blog' post.id %}" class="btn btn-danger btn-sm">Delete</a>
  </div>
  <hr>
  {% if post.image %}
  <img src="{{ post.image.url }}" />
  {% endif %}
  
  <h4 class="content-markdown">
  {{ post.body }}
  </h4>

</div>


{% endblock %}

