{% extends 'music/base.html' %}


{% block title %}{{ album.album_title }}{% endblock %}




{% block body %}
{% load staticfiles %}


<ul class="list-group">
	<li class="list-group-item list-group-item-info">
		<img src="{{ album.album_logo.url }}" alt="{{ album.album_title }}" class="thumbnail" style="width:200px" />
		<a href="{% url 'music:song-add' %}" class="btn btn-info btn-sm">Add Song</a>

		<h3 class="list-group-heading">{{ album.album_title }}</h3>
		<p class="list-group-item-text" >{{ album.artist }}</p>
	</li>

	{% for song in album.song_set.all %}

		<li class="list-group-item list-group-item-success">
			<div class="row">
				<div class="col-md-3">{{ song.song_title }}</div>
				<div class="col-md-2">	
				   {% include 'music/song-favorite-template.html' %}
			    </div>
			    <a href="{{ song.audio_file.url }}" class="col-md-2" target="_blank"><span class="glyphicon glyphicon-headphones"></span></a>
			    <a href="{% url 'music:song-update' song.id %}" class="col-md-2"><span class="glyphicon glyphicon-edit"></span></a>	
			    <a href="{% url 'music:song-delete' song.id %}" class="col-md-2"><span class="glyphicon glyphicon-trash"></span></a>	
			</div>
		</li>

	{% endfor %}		


</ul>



{% endblock %}



