{% extends "personal/base.html" %}

{% block content %}

<div class="jumbotron" style="background: rgba(100,100,200,.3); color:green">
  <h1>When you say nothing at all</h1>
	<p>It's amazing how you can speak right to my heart, without saying a word you can light up the dark.Try as I may I can never explain.
	When I hear when you don't say a thing. The smile on your face lets me know that you need me. There's truth in your eyes saying you'll
	never leave me. The touch of your hand says you'll catch me whenever I fall. You say it best, when you say nothing at all.</p>
</div>

<div id="pictures" class="row">
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail"">
      <img src="/static/personal/images/mm1.jpg" alt="MM1" class="img-circle">
    </a>
  </div>  
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/static/personal/images/mm2.jpg" alt="MM2" class="img-circle">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/static/personal/images/mm3.jpg" alt="MM3" class="img-circle">
    </a>
  </div>
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/static/personal/images/mm4.jpg" alt="MM4" class="img-circle">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/static/personal/images/mm5.jpg" alt="MM6" class="img-circle">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="/static/personal/images/mm6.jpg" alt="MM3" class="img-circle">
    </a>
  </div>
</div>

{% endblock %}